<!DOCTYPE html>
<html lang="en">

{% include head.html %}
 {% if page.custom_js %}
    {% for js_file in page.custom_js %}
      <script src='/javascript/{{ js_file }}.js' type="text/javascript"></script>
    {% endfor %}
  {% endif %}

{% if page.cdn_js %}
  {% for url in page.cdn_js %}
    <script src={{ url }} type="text/javascript"></script>
  {% endfor %}
{% endif %}

 <!-- CSS -->
{% if page.custom_css %}
  {% for stylesheet in page.custom_css %}
    <link rel="stylesheet" href="/css/{{ stylesheet }}.css" media="screen" type="text/css">
  {% endfor %}
{% endif %}

{% if page.cdn_css %}
  {% for url in page.cdn_css %}
    <link rel="stylesheet" href={{ url }} media="screen" type="text/css">
  {% endfor %}
{% endif %}

<body>

    {% include nav.html %}

    {{ content }}

    {% include footer.html %}

</body>

</html>
